*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  min-height: 100%;
  margin: auto;
  padding: 0;
  font-family: 'NotoSansCJKkr-Regular', sans-serif;
  overflow-x: hidden;
}

.container {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  color: white;
  overflow: hidden;
  border: 1px solid @grey;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination a {
  position: relative;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;

  &.active {
    background-color: @tealish;
    color: white;
    border: 1px solid @tealish;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: @grey;
    border: 1px solid @grey;
  }

  &:hover:not(.active) {
    color: #fff;
    background-color: fade(@tealish, 60%);
  }
}

@keyframes modal-slow-in {
  from {
    opacity: 0
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  min-width: 600px;
  min-height: 300px;

  animation: modal-slow-in ease-in .3s;

  &:after {
    position: absolute;
    content: '';
    top: -50vh;
    left: -50vw;
    width: 150vw;
    height: 150vh;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
  }

  .modal-wrapper {
    position: relative;
    border-radius: 6px;
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #fff;

    i {
      position: absolute;
      top: 10px;
      right: 30px;
      width: 2px;
      height: 30px;
      background: @grey;
      transform: rotate(45deg);
      transition: all .2s ease-in;
      cursor: pointer;

      &:hover {
        background: #000;
      }

      &:after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        transform: rotate(-90deg);
      }
    }
  }

  .modal-footer {
    margin-top: 30px;
  }
}

.popover {
  position: fixed;
  left: 50%;
  width: 300px;
  height: auto;
  min-height: 50px;
  z-index: 9999;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px -2px rgba(0,0,0,.5);
  padding: 10px;

  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.popover.show {
  display: flex;
  animation:
          show-popover .5s ease-in forwards,
          hide-popover 2s ease-out 3s forwards;
}

.popover:hover {
  animation-play-state: paused;
}

.popover-hide() {
  top: 0;
  opacity: 0;
  transform: translate(-50%, -100%);
}

.popover-show() {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

@keyframes show-popover {
  from {
    .popover-hide();
  }
  to {
    .popover-show();
  }
}
@keyframes hide-popover {
  from {
    .popover-show();
  }
  to {
    .popover-hide();
  }
}

@icon-width: 20px;
@icon-height: 20px;
.popover i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.popover span {
  font-size: 14px;
  color: rgba(0,0,0, .7);
}

.popover.normal i {
  background: rgb(32, 139, 255);
  &:before {
    position: absolute;
    content: '';
    width: @icon-width / 10;
    height: @icon-height / 10;
    top: @icon-height / 4;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #fff;
  }

  &:after {
    position: absolute;
    content: '';
    width: @icon-width / 10;
    height: @icon-height / 3;
    bottom: @icon-height / 4;
    left: 50%;
    transform: translateX(-50%);
    border-radius: @icon-width;
    background: #fff;
  }
}
.popover.error i {
  background: rgb(242, 0, 46);

  &:after,
  &:before {
    position: absolute;
    content: '';
    width: @icon-width / 10;
    height: @icon-height / 2;
    top: 50%;
    left: 50%;
    background: #fff;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.popover.success i {
  background: rgb(88, 200, 27);

  &:before {
    position: absolute;
    content: '';
    width: @icon-width / 3;
    height: @icon-height / 2;
    border: @icon-width / 10 solid #fff;
    top: 50% - 2px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
  }
}
.popover.warn i {
  background: rgb(249, 174, 24);
  &:before {
    position: absolute;
    content: '';
    width: @icon-width / 10;
    height: @icon-height / 10;
    left: 50%;
    bottom: @icon-height / 4;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #fff;
  }

  &:after {
    position: absolute;
    content: '';
    width: @icon-width / 10;
    height: @icon-height / 3;
    top: @icon-height / 4;
    left: 50%;
    transform: translateX(-50%);
    border-radius: @icon-width;
    background: #fff;
  }
}

