@import "__notification-management";
@import "__as-management";
@import "__contract-management";

.content {
  position: relative;
  background: #f9fafc;
}

.segment {
  height: calc(~"100% - 53px");
  color: black;
  overflow-y: scroll;
}

.segment .panel {
  width: 95%;
  height: auto;
  border: 1px solid @light-grey;
  border-radius: 10px;
  background: #fff;
  margin: 30px auto;
}

.segment label {
  &.wrap:after {
    content: '\A';
    white-space: pre;
  }

  &.wrap + label {
    display: inline-block;
    margin-top: 30px;
  }
}

.segment label {
  margin-right: 30px;
  margin-left: 10px;
}
.segment input,
.segment .select-wrapper {
  position: relative;
  display: inline-block;
  color: #666;
  min-width: 156px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #c1c1c1;
  background-color: #ffffff;
  margin-right: 30px;
  margin-left: 10px;
  padding-left: 10px;
}

.segment .select-wrapper {
  &::after {
    color: inherit;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
  }

  & select {
    color: inherit;
    -webkit-appearance: none;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    &:focus {
      color: black;
    }
    &::-ms-expand {
      display: none;
    }
  }
}

.segment table {
  width: 100%;
  border-top: 1px solid @light-grey;
  border-left: 1px solid @light-grey;
  & th,
  & td {
    padding: 10px;
    border-bottom: 1px solid @light-grey;
    border-right: 1px solid @light-grey;
  }
  & th {
    text-align: center;
  }
}

.segment table.editable tbody tr {
  cursor: pointer;
  &:hover {
    color: #fff;
    background: fade(@tealish, 60%);
  }
  &.selected {
    color: #fff;
    background: @tealish;
  }
}

.segment table + .table-edit-btn {
  margin-top: 10px;
  text-align: center;

  & > input {
    width: 160px;
    height: 40px;
    color: white;
    cursor: pointer;
    transition: .3s all ease-in;

    &.add-column {
      background: @tealish;
      border-color: @tealish;

      &.disabled {
        cursor: inherit;
        background: @light-tealish;
        border: 1px solid @light-tealish;
      }

      &:not(.disabled):hover {
        box-shadow:
                2px 2px 4px -1px @grey,
                2px 2px 2px -2px darken(@tealish, 10%) inset;
      }
    }

    &.remove-column {
      background: @red;
      border-color: @red;

      &.disabled {
        cursor: inherit;
        border: 1px solid @light-red;
        background: @light-red;
      }

      &:not(.disabled):hover {
        box-shadow:
                2px 2px 4px -1px @grey,
                2px 2px 2px -2px darken(@red, 10%) inset;
      }
    }
  }
}

.segment button {
  background: #f8f8f8;
  color: #666;
  border: 1px solid @grey;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 4px;

  transition: all .2s ease-in;

  &.disabled {
    color: @grey;
    border-color: @light-grey;
  }

  &:not(.disabled):hover {
    color: #fff;
    background: @tealish;
    border-color: @tealish;
  }
}