@dark-blue: rgb(0, 30, 65);
@blue: rgb(0, 77, 135);
@light-blue: rgb(0, 179, 238);

@yellow: rgb(254,194,14);
@light-yellow: fade(@yellow, 30%);

@grey: #c5cbd4;

@tealish: rgb(39, 153, 158);
@light-tealish: fade(@tealish, 60%);

@header-height: 100px;
@sidebar-width: 280px;