<div class="as-management">
    <div class="panel search">
        <div>
            <label>
                작성일자
                <input type="text" name="" />
            </label>
            <label>
                작성팀명
                <input type="text" name="" />
            </label>
        </div>
        <div>
            <label>
                초도/신규
                <div class="select-wrapper">
                    <select>
                        <option value="">초도/신규1</option>
                        <option value="">초도/신규2</option>
                        <option value="">초도/신규3</option>
                        <option value="">초도/신규4</option>
                        <option value="">초도/신규5</option>
                        <option value="">초도/신규6</option>
                    </select>
                </div>
            </label>
            <label>
                품목
                <div class="select-wrapper">
                    <select>
                        <option value="">품목1</option>
                        <option value="">품목2</option>
                        <option value="">품목3</option>
                        <option value="">품목4</option>
                        <option value="">품목5</option>
                        <option value="">품목6</option>
                    </select>
                </div>
            </label>
            <label>
                지급내역
                <div class="select-wrapper">
                    <select>
                        <option value="">지급내역1</option>
                        <option value="">지급내역2</option>
                        <option value="">지급내역3</option>
                        <option value="">지급내역4</option>
                        <option value="">지급내역5</option>
                        <option value="">지급내역6</option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>
                그룹사명
                <div class="select-wrapper">
                    <select>
                        <option value="">그룹사명1</option>
                        <option value="">그룹사명2</option>
                        <option value="">그룹사명3</option>
                    </select>
                </div>
            </label>
            <label class="wrap">
                소속부서
                <div class="select-wrapper">
                    <select>
                        <option value="">소속부서1</option>
                        <option value="">소속부서2</option>
                        <option value="">소속부서3</option>
                    </select>
                </div>
            </label>
            <label>
                성명
                <input type="text" name="" />
            </label>
            <label>
                신장
                <input type="text" name="" />
            </label>
            <label>
                직원번호
                <input type="text" name="" />
            </label>

            <div class="search-table">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th colspan="3">신규포장 내역</th>
                    </tr>
                    <tr>
                        <td>자켓</td>
                        <td>77L</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>자켓</td>
                        <td>77L</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>자켓</td>
                        <td>77L</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>자켓</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel add">
        <div>
            <label>
                회수일
                <input type="text" name="" />
            </label>
            <label>
                교환종류
                <div class="select-wrapper">
                    <select>
                        <option value="">소속부서1</option>
                        <option value="">소속부서2</option>
                        <option value="">소속부서3</option>
                    </select>
                </div>
            </label>
            <label class="wrap">
                회수입력자
                <div class="select-wrapper">
                    <select>
                        <option value="">소속부서1</option>
                        <option value="">소속부서2</option>
                        <option value="">소속부서3</option>
                    </select>
                </div>
            </label>

            <label>
                교환포장일
                <input type="text" name="" />
            </label>
            <label>
                교환송장일
                <div class="select-wrapper">
                    <select>
                        <option value="">소속부서1</option>
                        <option value="">소속부서2</option>
                        <option value="">소속부서3</option>
                    </select>
                </div>
            </label>
            <label class="wrap">
                교환송장번호
                <div class="select-wrapper">
                    <select>
                        <option value="">소속부서1</option>
                        <option value="">소속부서2</option>
                        <option value="">소속부서3</option>
                    </select>
                </div>
            </label>

            <label class="wrap">
                미회수분현황
                <input type="text" name="" />
            </label>

            <div class="add-table">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th></th>
                        <th colspan="2">회수 내역</th>
                        <th colspan="3">교환 내역</th>
                    </tr>
                    <tr>
                        <td>자켓</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>가디건</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>블라우스</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>치마</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>