<div class="notification-management">
    <button id="Warn" type="button">Warn</button>
    <button id="Normal" type="button" >Normal</button>
    <button id="Error" type="button" >Error</button>
    <button id="Success" type="button" >Success</button>
    <div class="panel">
        {% if notifications and notifications.length != 0 %}
            {% for nt in notifications %}
            <div class="nt-item">
                <span class="title">{{ nt.title }}</span>
                <span class="date">{{ nt.date }}</span>
            </div>
            {% endfor %}
            <div class="nt-item">
                {% include '/include/__pagination__.html' %}
            </div>
        {% else %}
            <div class="nt-item">
                No result.
            </div>
        {% endif %}
    </div>
</div>